@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --text-color: whitesmoke;
    --bg-url: url(../image/bg-mobile.jpg);
    --social-hover: rgba(255, 255, 255, 0.20);
    --bg-links: rgba(255, 255, 255, 0.05);
    --border-links: white;
    --link-footer: rgb(198, 179, 255);
    --font-w: 400;
    --switch-bg-url: url(../image/moon-stars.svg);
   --stroke-color: rgba(255, 255, 255, 0.50);
    --surface-color: rgba(255, 255, 255, 0.10); 
    --footer: rgba(193, 193, 193, 0.074);
}

.light {
    --text-color: black;
    --bg-url: url(../image/bg-mobile-light.jpg);
    --social-hover: rgba(0, 0, 0, 0.10);
    --bg-links: rgba(0, 0, 0, 0.156);
    --border-links: black;
    --link-footer: rgb(43, 43, 43);
    --font-w: 500;
    --switch-bg-url: url(../image/sun.svg);
    --stroke-color: rgba(0, 0, 0, 0.50);
    --surface-color: rgba(0, 0, 0, 0.05); 
    --footer: rgba(71, 71, 71, 0.214);
}

body {
    background: var(--bg-url) no-repeat top center/cover;
    font-family: 'Outfit', sans-serif;
    color: var(--text-color);
    display: flex;
    transition: all 500ms;

}

.container {
    width: 360px;
    margin: auto;
    margin-top: 0;
}

/* perfil */

.profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    padding: 24px;
    position: relative;
}

.profile img {
    width: 112px;
    border-radius: 999px;
    border: 2px solid var(--text-color);
}

.profile .user {
    display: flex;
    gap: 10px;
    justify-content: center;
    text-align: center;
}

.profile .user p {
    font-weight: 400;
    letter-spacing: 0.4px;
}

.profile .user button {
    background: transparent;
    color: var(--text-color);
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.profile p.copiado {
    display: none;
    position: absolute;
    bottom: 3%;
    right: -10%;
    color: var(--text-color);
    filter: drop-shadow(-2px 1px 1.5px var(--text-color));
}

/* switch */

#switch {
    position: relative;
    width: 64px;
    margin: 4px auto;
}

#switch button {
    width: 32px;
    height: 32px;
    background: white var(--switch-bg-url) no-repeat center;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
    cursor: pointer;
}

#switch span {
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 999px;
}

.light #switch button {
    right: 0;
    left: initial;
}

/* social links */

 ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
    
    padding: 24px 0;
}

 ul li {
    padding: 16px 24px;
    border: 1px solid  var(--text-color); 
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.10); 
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    transition: all 200ms;
}

 ul li:hover{
    border: 1px solid  var(--border-links);
    background: var(--bg-links); 
    transition: all 200ms;
}

 ul a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
}


.social-links {
    display: flex;
    justify-content: center;
    padding: 24px 0;
    font-size: 24px;
}

.social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    color: var(--text-color);
    transition: all 300ms;
    border-radius: 50%;
}

.social-links a:hover {
    background: var(--social-hover);
    transition: all 800ms;
}

/* footer */

footer {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 400;
    background-color: var(--footer);
    border-radius: 5px;
}

footer a {
    color: var(--text-color);
    transition: all 300ms;
    font-weight: var(--font-w);
}

footer a:hover {
    color: var(--link-footer);
    transition: all 500ms;
}

@media screen and (min-width: 800px) {

    .container {
        width: 400px;
    }

    :root{
        --bg-url: url(../image/bg-desktop.jpg);
    }
    
    .light {
        --bg-url: url(../image/bg-desktop-light.jpg);
    }
}


  